.main {
  width: 100%;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgWide {
  display: block;
}

.bgMovil {
  display: none;
}

@media (max-width: 768px) {
  .bgWide {
    display: none;
  }

  .bgMovil {
    display: block;
  }
}
